{% extends 'base.html' %}

{% block content %}

{{ message }}

<div class = "container">
	  
  <form class = "form-signin span4" id="commodity_form" method= "post" action= "/en/partal/commodity/">
    <h2 class = "form-signin-heading">Add Commodity</h2>
    {% csrf_token %}

    <!-- Display each form -->
    {% for field in commodity_form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}<br />
    {{ field }}<br />
    {% endfor %}
    <!-- Provide a click to submit the form -->
    <input type = "submit" name = "submit" value = "Add Commodity" />
  </form>
</div>

{% endblock %}
