{% extends 'base.html' %}

{% block content %}

<div class="multicolumn3 clearfix">
  <div class="column" style="width: 33%; float: left;">
    <a href="/partal/firm/"><h2>Merchant Registration</h2></a>
    <p>Registration of Merchant Firms to buy commodities.</p>
    <a href="/partal/purchase/"><h2>Purchase Invoice</h2></a>
    <p>Enter Purchase Inovice of the commodities.</p>
  </div>

  <div class="column" style="width: 33%; float: left;">
    <a href="/partal/commodity/"><h2>Commodity</h2></a>
    <p>Add commodities that are purchased.</p>
  </div>

  <div class="column" style="width: 33%; float: left;">
    <a href="/partal/product/"><h2>Products</h2></a>
    <p>Add Products of different commodities based on quality.</p>
  </div>

</div>
{% endblock %}
