{% extends 'base.html' %}

{% block content %}  

<div class = "container">

  <p align="right">
    <a href="/partal/invoice/">Proceed to Purchase Invoice</a>
  </p>

  <form class = "form-signin span4" id="purchase_detail_form" method= "post" action= "/en/partal/purchase/">
    <h2 class = "form-signin-heading">Purchase Detail</h2>
    {% csrf_token %}

    <!-- Display each form -->
    {{ purchase_detail_form.date.errors }}
    {{ purchase_detail_form.date.help_text }}<br />
    {{ purchase_detail_form.date }}<br />
    
    {{ purchase_detail_form.seller.help_text }}<br />
    {{ purchase_detail_form.seller }}<br />
    
    <div class="multicolumn3 clearfix">
      <div class="column" style="width: 20%; float: left;">	
	{{ purchase_detail_form.product.help_text }}<br />
	{{ purchase_detail_form.product }}<br />
	{{ purchase_detail_form.product.errors }}
      </div>
      <div class="column" style="width: 20%; float: left;">
	{{ purchase_detail_form.weight.help_text }}<br />
	{{ purchase_detail_form.weight }}<br />
	{{ purchase_detail_form.weight.errors }}
      </div>
      <div class="column" style="width: 20%; float: left;">	
	{{ purchase_detail_form.bags.help_text }}<br />
	{{ purchase_detail_form.bags }}<br />
	{{ purchase_detail_form.bags.errors }}
      </div>
      <div class="column" style="width: 20%; float: left;">	
	{{ purchase_detail_form.rate.help_text }}<br />
	{{ purchase_detail_form.rate }}<br />
	{{ purchase_detail_form.rate.errors }}
      </div>
      <div class="column" style="width: 20%; float: left;">	
	{{ purchase_detail_form.amount.help_text }}<br />
	{{ purchase_detail_form.amount }}<br />
	{{ purchase_detail_form.amount.errors }}
      </div>
    </div>
     
    <br />
    <!-- Provide a click to submit the form -->
    <input type = "submit" name = "submit" value = "Submit" />
  </form>

  <br />

  {% if history %}
  <div class="multicolumn3 clearfix">
    <div class="column" style="width: 14%; float: left;">	
      <strong>Firm Group</strong>
    </div>
    <div class="column" style="width: 14%; float: left;">	
      <strong>Product</strong>
    </div>
    <div class="column" style="width: 14%; float: left;">	
      <strong>Bags</strong>
    </div>
    <div class="column" style="width: 14%; float: left;">	
      <strong>Weight</strong>
    </div>
    <div class="column" style="width: 14%; float: left;">	
      <strong>Rate</strong>
    </div>
    <div class="column" style="width: 14%; float: left;">	
      <strong>Amount</strong>
    </div>
  </div>

  {% for obj in history %}
  <div class="multicolumn3 clearfix">
    <div class="column" style="width: 14%; float: left;">	
      {{ obj.seller.group }}<br />
    </div>
    <div class="column" style="width: 14%; float: left;">	
      {{ obj.product }}<br />
    </div>
    <div class="column" style="width: 14%; float: left;">	
      {{ obj.bags }}<br />
    </div>
    <div class="column" style="width: 14%; float: left;">	
      {{ obj.weight }}<br />
    </div>
    <div class="column" style="width: 14%; float: left;">	
      {{ obj.rate }}<br />
    </div>
    <div class="column" style="width: 14%; float: left;">	
      {{ obj.amount }}<br />
    </div>
    <div class="column" style="width: 14%; float: left">
      <a href="/partal/delete_purchase/{{ obj.id }}/">delete</a><br />
    </div>
  </div>
  {% endfor %}
  <br />
  <strong>Total Bags: </strong> {{ bags_total }}<br />
  <strong>Total Weight: </strong> {{ weight_total }}
  {% endif %}
</div>

<script src = "/static/js/jquery-2.1.1.js"></script>

<script>
  $("#id_weight, #id_rate").change(function(){
  var weight = $("#id_weight").val();
  var rate = $("#id_rate").val()
  var amount = (weight*rate)/100;
  $("#id_amount").val(amount.toFixed(2));
  })
</script>

{% endblock %}

