{% extends 'base.html' %}

{% block content %}  

<div class = "container">

  <form class = "form-signin span4" id="sale_form" method= "post" action= "/en/partal/sale/">
    <h2 class = "form-signin-heading">Sale Invoice</h2>
    {% csrf_token %}
    
    <!-- Display each form -->
    {% for field in sale_form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}<br />
    {{ field }}<br />
    {% endfor %}
    
    <br />
    
    <table id="dataTable" width="1000px">
      <tbody><tr>
	  <div class="multicolumn3 clearfix">
	    <td><input type="checkbox" name="chk"></td>
	    {% for field in sale_detail_form.visible_fields %}
	    <div class="column" style="width: 25%; float: left;">
	      <td>{{ field.errors }}
		{{ field.help_text }}<br />
		{{ field }}<td><br />
	    </div>
	    {% endfor %}
	  </div>
	</tr>
    </tbody></table>
    <p align = "right">
      <input type="button" value="Add Row" onclick="addRow('dataTable')">
      <input type="button" value="Delete Row" onclick="deleteRow('dataTable')">
    </p>
    <br />
    <!-- Provide a click to submit the form -->
    <input type = "submit" name = "submit" value = "Submit" />
  </form>

  <strong>Invoice No. </strong>{{ invoice_no }}<br />
  <strong>{{ name }}</strong><br />
  <strong>{{ commodity }}</strong><br />
  <div class="multicolumn3 clearfix">
    <div class="colunm" style="width: 20%; float: left;">
      <strong>Product</strong><br />
      {% for product in products %}
      {{ product }}<br />
      {% endfor %}
    </div>
    <div class="colunm" style="width: 20%; float: left;">
      <strong>Weight</strong><br />
      {% for weight in weights %}
      {{ weight|floatformat:2 }} Kg.<br />
      {% endfor %}
    </div>
    <div class="colunm" style="width: 20%; float: left;">
      <strong>Bags</strong><br />
      {% for bag in bags %}
      {{ bag }}<br />
      {% endfor %}
    </div>
    <div class="colunm" style="width: 20%; float: left;">
      <strong>Rate</strong><br />
      {% for rate in rates %}
      {{ rate }}<br />
      {% endfor %}
    </div>
    <div class="colunm" style="width: 20%; float: left;">
      <strong>Amount</strong><br />
      {% for amount in amounts %}
      Rs. {{ amount|floatformat:2 }}<br />
      {% endfor %}
    </div>
  </div>  
  <br />
  <p align = "right">
    <strong>Net Loose Amount:</strong> Rs. {{ net_loose_amount|floatformat:2 }}<br />
  </p>
  <br />
  <p align = "right">
    <strong>Insurance:</strong> Rs. {{ insurance|floatformat:2 }}<br />
    <strong>VAT:</strong> Rs. {{ VAT|floatformat:2 }}<br />
    <strong>Net Amount:</strong> Rs. {{ net_amount|floatformat:2 }}<br />
  </p>

</div>


<script language="javascript">function addRow(tableID){var table=document.getElementById(tableID);var rowCount=table.rows.length;var row=table.insertRow(rowCount);var colCount=table.rows[0].cells.length;for(var i=0;i<colCount;i++){var newcell=row.insertCell(i);newcell.innerHTML=table.rows[0].cells[i].innerHTML;switch(newcell.childNodes[0].type){case"text":newcell.childNodes[0].value="";break;case"checkbox":newcell.childNodes[0].checked=false;break;case"select-one":newcell.childNodes[0].selectedIndex=0;break;}}}
function deleteRow(tableID){try{var table=document.getElementById(tableID);var rowCount=table.rows.length;for(var i=0;i<rowCount;i++){var row=table.rows[i];var chkbox=row.cells[0].childNodes[0];if(null!=chkbox&&true==chkbox.checked){if(rowCount<=1){alert("Cannot delete all the rows.");break;}
table.deleteRow(i);rowCount--;i--;}}}catch(e){alert(e);}}</script>

{% endblock %}

