{% extends 'base.html' %}

{% block content %}  

<div class = "container">

  <p align="right">
    <a href="/partal/estimatesale/">Back to Sale Estimate</a>
  </p>

  {{ message }}<br />
  
  <form class = "form-signin span4" id="sale_form" method= "post" action= "/en/partal/sale/">
    <h2 class = "form-signin-heading">Sale Invoice</h2>
    {% csrf_token %}
    
    <!-- Display each form -->
    {{ sale_form.date.help_text }}<br />
    {{ sale_form.date }}
    {{ sale_form.date.errors }}<br />
    
    {{ sale_form.buyer.help_text }}<br />
    {{ sale_form.buyer }}
    {{ sale_form.buyer.errors }}<br />

    {{ sale_form.firm.help_text }}<br />
    {{ sale_form.firm }}
    {{ sale_form.firm.errors }}<br />
    
    {{ sale_form.invoice_no.help_text }}<br />
    {{ sale_form.invoice_no }}
    {{ sale_form.invoice_no.errors }}<br />
    
    {{ sale_form.family.help_text }}<br />
    {{ sale_form.family }}
    {{ sale_form.family.errors }}<br />
    
    {{ sale_form.storage.help_text }}<br />
    {{ sale_form.storage }}
    {{ sale_form.storage.errors }}<br />
    
    <br />
    
    <table id="dataTable" width="1000px">
      <tbody><tr class="sale_detail">
	  <div class="multicolumn3 clearfix">
	    <td><input type="checkbox" name="chk"></td>
	    {% for field in sale_detail_form.visible_fields %}
	    <div class="column" style="width: 25%; float: left;">
	      <td>{{ field.errors }}
		{{ field.help_text }}<br />
		{{ field }}<td><br />
	    </div>
	    {% endfor %}
	  </div>
	</tr>
    </tbody></table>
    <p align = "right">
      <input id="row_add" type="button" value="Add Row" onclick="addRow('dataTable')">
      <input id="row_delete" type="button" value="Delete Row" onclick="deleteRow('dataTable')">
    </p>
    <br />
    <div class="multicolumn3 clearfix">
      <div class="column" style="width: 20%; float: left;">
	<br />
      </div>
      <div class="column" style="width: 20%; float: left;">
	{{ sale_form.weight.errors }}
	{{ sale_form.weight }}<br />
	{{ sale_form.weight.help_text }}<br />
      </div>
      <div class="column" style="width: 20%; float: left;">	
	{{ sale_form.bags.errors }}
	{{ sale_form.bags }}<br />
	{{ sale_form.bags.help_text }}<br />
      </div>
      <div class="column" style="width: 20%; float: left;">	
	{{ sale_form.net_loose_amount.errors }}
	{{ sale_form.net_loose_amount }}<br />
	{{ sale_form.net_loose_amount.help_text }}<br />
      </div>
    </div>
    <br />
    <div class="multicolumn3 clearfix">
      <div class="column" style="width: 25%; float: left;">	
	<br />
      </div>
      <div class="column" style="width: 25%; float: left;">	
	{{ sale_form.VAT.errors }}
	{{ sale_form.VAT.help_text }}<br />
	{{ sale_form.VAT }}<br />
      </div>
      <div class="column" style="width: 25%; float: left;">	
	{{ sale_form.insurance.errors }}
	{{ sale_form.insurance.help_text }}<br />
	{{ sale_form.insurance }}<br />
      </div>
      <div class="column" style="width: 25%; float: left;">	
	{{ sale_form.amount.errors }}
	{{ sale_form.amount.help_text }}<br />
	{{ sale_form.amount }}<br />
      </div>
    </div>

    {{ sale_form.narration.errors }}
    {{ sale_form.narration.help_text }}<br />
    {{ sale_form.narration }}<br />
      
    <br />
    <!-- Provide a click to submit the form -->
    <center><input type = "submit" name = "submit" value = "Submit" /></center>
  </form>
</div>

<script src = "/static/js/jquery-2.1.1.js"></script>

<script>
 function change_calc(){
  var w = $(".per_weight");
  var b = $(".per_bags");
  var r  = $(".per_rate");
  var a = $(".per_amount");
  var weight = 0.0;
  var bags = 0;
  var amount = [];
  var loose_amount = 0.0;
  
  for (var i = 0; i<b.length; i++){
			      weight += parseFloat($(w[i]).val());
			      bags += parseInt($(b[i]).val());
			      amount[i] = (parseFloat($(w[i]).val())*
			      parseFloat($(r[i]).val()))/100;
			      $(a[i]).val(amount[i].toFixed(2));
			      loose_amount += amount[i];
			      }

  var vat = loose_amount*{{ charges.VAT }}/100;
  var insurance = loose_amount*{{ charges.insurance }}/100;

  var amount = loose_amount + vat + insurance;

  $("#id_bags").val(bags);
  $("#id_weight").val(weight);
  $("#id_net_loose_amount").val(loose_amount.toFixed(2));
  $("#id_VAT").val(vat.toFixed(2));
  $("#id_insurance").val(insurance.toFixed(2));
  $("#id_amount").val(amount.toFixed(0));
  }
</script>

<script>
  $('body').on("keyup", ".per_weight, .per_bags, .per_rate, .per_amount, #id_net_loose_amount, #id_VAT, #id_insurance", change_calc)
</script>

<script>
  $("#row_delete").click(change_calc)
  
</script>

<script>
  $("#id_family").change(function(){
  var selected = $("#id_family").val();
  if (selected == "Pulse") {
  $("#id_product").empty().remove();
  $("#row_add").empty().remove();
  $("#row_delete").empty().remove();
  }
  })
</script>

<script language="javascript">function addRow(tableID){var table=document.getElementById(tableID);var rowCount=table.rows.length;var row=table.insertRow(rowCount);var colCount=table.rows[0].cells.length;for(var i=0;i<colCount;i++){var newcell=row.insertCell(i);newcell.innerHTML=table.rows[0].cells[i].innerHTML;switch(newcell.childNodes[0].type){case"text":newcell.childNodes[0].value="";break;case"checkbox":newcell.childNodes[0].checked=false;break;case"select-one":newcell.childNodes[0].selectedIndex=0;break;}}}
function deleteRow(tableID){try{var table=document.getElementById(tableID);var rowCount=table.rows.length;for(var i=0;i<rowCount;i++){var row=table.rows[i];var chkbox=row.cells[0].childNodes[0];if(null!=chkbox&&true==chkbox.checked){if(rowCount<=1){alert("Cannot delete all the rows.");break;}
table.deleteRow(i);rowCount--;i--;}}}catch(e){alert(e);}}</script>

{% endblock %}

